/**
 * Copyright 2013-2018 butor.com
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 *   http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */
body {
	overflow-y: scroll;
	padding-top: 51px;
}
#_brand {
	cursor: pointer;
	font-weight: bold;
}
.navbar {
	margin-bottom : 0px;
}
.app-nav {
	border:0px solid #ddd;
	min-height: 40px;
	padding: 5px;
	margin: 0px;
}
@media (max-width: 979px) {
	body {
		padding-top: 0px;
	}
	.navbar-fixed-top {
		position: relative;
		margin-bottom: 0px;
	}
	#_container {
		padding-top: 0px;
	}
}
#appTitlePanel {
	float:none;
	margin-top: 4px;
	margin: 0px;
	padding: 0px;
	height: 41px;
	position: absolute;
	right: 0px;
	font-size: 26px;
	background-color: #eee;
	border-left:1px solid #ddd;
	border-bottom:1px solid #ddd;
}
#_content h1:first-child, #_content h2:first-child {
	padding-top: 0px;
	margin-top: 0px;
}
#appTitle {
	padding:6px;
	margin:0px;
}
#appHeader {
	padding: 0px;
	margin: 0px;
	border-bottom:1px solid #ddd;
	margin-bottom: 5px;
}
#appHeader.no-app-menu {
	border-bottom:0px;
}
.nav>li>a {
	padding: 5px 10px;
}
#_header .nav>li>a {
	padding: 15px 12px;
}

@media (max-width: 768px) {
	#_header .nav>li>a {
		padding: 5px 10px;
	}
	.navbar-toggle {
		margin-bottom: inherit;
	}
}

input {
	padding: 0px;
	padding-left: 3px;
	padding-right: 3px;
}
.ia-color,
.navbar-inner > .container-fluid>.nav> li > a:hover,
.navbar-inner > .container-fluid> .navbar-form > .nav> li > a:hover {
	color: #0077d2;
}

/* to be used with inversed top navbar color */
.navbar-inner > .container-fluid> .nav> li > a,
.navbar-inner > .container-fluid> .navbar-form > .nav> li > a {
	color: white;
}
/* nav-pills active color*/
ul.nav-pills > li.active > a {
	background-color: #444;
	color: white;
	opacity:1;
}
.nav-tabs > .active > a, .nav-tabs > .active > a:hover {
	font-weight: bolder;
	color : #333;
}
ul.nav-pills > li.active > a > .faded {
	color: white;
	opacity:1;
}
ul.nav-pills > li.active > a:hover {
	background-color: #ddd;
}
.amount, .yield, .price, .quantity, .number, 
	td.amount, td.yield, td.price, td.quantity, td.number,
	input.amount, input.yield, input.price, input.quantity, input.number {
	text-align: right;
	font-family: monospace;
	/*font-size: 90%;*/
	font-stretch: narrower;
	font-weight: bolder;
}
button.ctxMenu {
	padding-top:3px;
	padding-bottom:3px;
	margin-top:-4px;
}
.negative-amount {
	color:red;
}

.big {
	font-size: 200%;
}
.bid, .SELL {
	color: #333;
	background-color: #FFDEFD;
}
.offer, .BUY {
	color: #333;
	background-color: #DEECFF;
}
.alert-warning {
	background-color: #FFFF5E;
	color: #5E5E5E;
	border-color: #dddddd;
}
