<!--

    Copyright 2013-2018 butor.com

    Licensed under the Apache License, Version 2.0 (the "License");
    you may not use this file except in compliance with the License.
    You may obtain a copy of the License at

      http://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing, software
    distributed under the License is distributed on an "AS IS" BASIS,
    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    See the License for the specific language governing permissions and
    limitations under the License.

-->
<div id="__externs__">
	<div class="page-header">
		<h1>EXTERNS</h1>
	</div>

	<div class="row">
		<div class="col-sm-12 form">
			<div class="form-group">
				<button id="genBtn" class="btn btn-default btn-danger" href="#">Generate</button>
			</div>
			<div class="form-group">
				<textarea class="form-control" id="externs" rows="25"></textarea>
			</div>
		</div>
	</div>
</div>
<script type="text/javascript">
	(function() {
		butor.minify = {}; 
		butor.minify.TABS = '\t\t\t\t\t\t\t\t\t\t';
		// generate externs to be used with Closure minifier
		// var App = {"ready":function(){}, ...};
		// ...
		butor.minify.id=0;
		butor.minify.stack = {};
		butor.minify.genExterns = function(src, name, tabs) {
			//LOGGER.info('butor.minify.genExterns, level ' +tabs);
			if (!tabs) {
				tabs = 0;
			}
			var spaces = butor.minify.TABS.substring(0, tabs + 1);
			var res;
			if (tabs === 0) {
				res = 'var ' + name + ' = {\n';
				butor.minify.stack = {};
			} else {
				res = '"' + name + '": {\n';
			}

			var idx = 0;

			if (typeof(src) === 'object' && butor.minify.stack[src.__as_hash]) {
				if (idx > 0) {
					res += '\n';
				}
				res += butor.minify.TABS.substring(0, tabs) + '}';
				if (tabs === 0) {
					res += ';\n';
				}
				LOGGER.info(res);
				return res;
			}
			src.__as_hash = (butor.minify.id++) +""; 
			butor.minify.stack[src.__as_hash] = true;

			var ownProp = Object.prototype.hasOwnProperty;
			for (var key in src) {
				if (key === 'fragments' || key == 'bundles' || key == '_bundles' || 
						typeof(key) == 'number'||key == '_events'||key == '_pagesDef'||
						key == '_menuDef'||key == '_appsDef') {
					continue;
				}
				//if (ownProp.call(src, key)) {
					var val = src[key];
					if (val == null) {
						continue;
					}
					if (idx > 0) {
						res += ',\n';
					}
					res += spaces;

					var isObject = typeof(val) === 'object' && !(val instanceof Array); //!val.jquery
					if (isObject && val.jquery) {
						isObject  = false ;
					}
					if (isObject && !val == document) {
						res += butor.minify.genExterns(val, key, tabs + 1);
					} else if (typeof(key) === 'string') {
						res += '"' + key + '": function() {}';
					}
					idx += 1;
				//}
			}
			if (idx > 0) {
				res += '\n';
			}
			res += butor.minify.TABS.substring(0, tabs) + '}';
			if (tabs === 0) {
				res += ';\n';
				butor.minify.stack = {};
			}
			return res;
		};

		//generate exports to be used with Closure minifier
		//window['App'] = App;
		//window['App']['createMsgPanel'] = App.createMsgPanel;
		//...
		__butorMinifyExports = {};
		butor.minify.genExports = function(src, name, anc, recur) {
			var res = '';
			if (!anc) {
				anc = "window['" + name + "']";
				resEntry = anc + " = " + name +"\n";
				if (!__butorMinifyExports[resEntry]) {
					__butorMinifyExports[resEntry] = true;
					res = resEntry;
				}
			}

			if (!recur) {
				butor.minify.stack = {};
			}
			var idx = 0;
			if (butor.minify.stack[src.__as_hash]) {
				return res;
			}
			src.__as_hash = (butor.minify.id++) +""; 
			butor.minify.stack[src.__as_hash] = true;
			
			var ownProp = Object.prototype.hasOwnProperty;
			for (var key in src) {
				if (key.indexOf('__') == 0 || key === 'fragments' || key == '_bundles' || 
						typeof(key) == 'number'||key == '_events'||key == '_pagesDef'||
						key == '_menuDef'||key == '_appsDef' || $.isNumeric(key)) {
					continue;
				}
				//if (ownProp.call(src, key)) {
					var val = src[key];
					if (val == null) {
						continue;
					}
					var isObject = typeof(val) === 'object' && !(val instanceof Array); //!val.jquery
					if (isObject && val.jquery) {
						isObject  = false ;
					}

					res += anc + "['" + key + "'] = " + name + "." + key + ";\n";
					if (isObject && !(key == 'ajaxSettings' || key == 'expr' || key == 'bundles')) {
						res += butor.minify.genExports(val, name + "." + key, anc + "['" + key + "']", true);
					}
				//}
			}
			return res;
		};
		/* sample usage
		define an call this method while in debug mode
		butor.minify.externAll = function() {
			var ta = $('<textarea rows="20" style="width:90%">');
			ta.appendTo($('body'));
			ta.append(butor.minify.genExterns($, 'jQuery'));
			ta.append(butor.minify.genExterns(butor, 'butor'));
			ta.append(butor.minify.genExterns(Upload, 'Upload'));
			ta.append(butor.minify.genExterns(App, 'App'));
			ta.append(butor.minify.genExterns(AJAX, 'AJAX'));
			ta.append(butor.minify.genExterns(LOGGER, 'LOGGER'));
		};
		*/

		var _jqe = $("#__externs__");
		var ta = _jqe.find('#externs');
		_jqe.find('#genBtn').click(function() {
			butor.minify.exportAll();
			return false;
		});

		butor.minify.exportAll = function() {
			ta.empty();
			var table = $('<table><thead><th></th></thead><tbody><tr><td></td></tr></tbody></table>');
			var butorCls = {
				'bundles' : butor.bundles,
				'Loader' : new butor.Loader(),
				'Timer' : new butor.Timer(),
				'EventMgr' : new butor.EventMgr(),
				'Logger' : new butor.Logger(),
				'PopoverTooltip' : new butor.PopoverTooltip(),
				'DatePicker' : new butor.DatePicker(),
				'AttrSet' : new butor.AttrSet(),
				'Bundle' : new butor.Bundle(),
				'Class' : butor.Class,
				'Upload' : new butor.Upload(),
				'LiveSearch' : new butor.LiveSearch($('input')),
				'RowEditor' : new butor.RowEditor(),
				'panel' : {
					'ProgressPanel' : new butor.panel.ProgressPanel(),
					'MsgPanel' : new butor.panel.MsgPanel(),
					'BottomPanel' : new butor.panel.BottomPanel()
				},
				'dlg' : {
					'Dialog' : new butor.dlg.Dialog()
				},
				'TableCtxtMenu' : new butor.TableCtxtMenu(table),
				'Grid' : new butor.Grid($('<div>'), [ {} ])
			};
			var butorStatics = {
				'Class' : {
					'define' : function() {
					},
					'extend' : function() {
					},
				},
				'Loader' : {
					'loadCSS' : function() {
					}
				}
			}
			/*
			App=function() {};
			App.bind=function(){};
			App.unbind=function(){};
			$.bind=function(){};
			*/

			ta.append(butor.minify.genExports(butor, 'butor'));
			ta.append(butor.minify.genExports(Butor, 'Butor'));
			ta.append(butor.minify.genExports(butorCls, 'butor'));
			ta.append(butor.minify.genExports(butorStatics, 'butor'));

			ta.append(butor.minify.genExports(portal, 'portal'));
			ta.append(butor.minify.genExports(App, 'App'));
			ta.append(butor.minify.genExports(AJAX, 'AJAX'));
			ta.append(butor.minify.genExports(LOGGER, 'LOGGER'));
			ta.append(butor.minify.genExports(new Upload(), 'Upload'));

			ta.append('/* jQuery ------------------ */\n');

			ta.append(butor.minify.genExports(jQuery, 'jQuery'));
			ta.append(butor.minify.genExports($.Deferred(), 'deferred'));

			ta.append('/* jQuery elem ------------------ */\n');
			var jqe = $('<div>');
			ta.append(butor.minify.genExports(jqe, 'jQuery'));

			ta.append('/* jQuery getScript events ------------------ */\n');
			jqe = $.getScript();
			ta.append(butor.minify.genExports(jqe, 'jQuery'));

			ta.append(butor.minify.genExterns(App, 'App'));
		};
	})();

	//# sourceURL=portal.externs.html
</script>
