<!--

    Copyright 2013-2018 butor.com

    Licensed under the Apache License, Version 2.0 (the "License");
    you may not use this file except in compliance with the License.
    You may obtain a copy of the License at

      http://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing, software
    distributed under the License is distributed on an "AS IS" BASIS,
    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    See the License for the specific language governing permissions and
    limitations under the License.

-->
<div class="hero-unit ia-color label-warning">
	<h1>Page not found! <small>Please contact ...</small></h1>
	The page with ID = "<span id="requestedPageId"></span>" cannot be found!
</div>
<script type="text/javascript">
	$('#requestedPageId').html(App.getRequestedPageId());
</script>