<!--

    Copyright 2013-2018 butor.com

    Licensed under the Apache License, Version 2.0 (the "License");
    you may not use this file except in compliance with the License.
    You may obtain a copy of the License at

      http://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing, software
    distributed under the License is distributed on an "AS IS" BASIS,
    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    See the License for the specific language governing permissions and
    limitations under the License.

-->
<div id="__tx_support__">
	<div class="page-header">
		<h1><span class="bundle">SQL query retriever</span> <small></small></h1>
	</div>

	<div class="row">
		<div class="form col-sm-12">
			<div class="form-group">
				<label class="control-label bundle" for="sysSB">System</label>
				<select id="sysSB" class="form-control" style="max-width:250px;"></select>
			</div>
			<div class="form-group" id="otherGroup" style="display:none;">
				<label class="control-label bundle" for="sysSB">Other system</label>
				<input id="otherSys" class="form-control" style="max-width:250px;">
			</div>
			<div class="form-group">
				<label class="control-label bundle" for="sqlCall">SQL call</label>
				<textarea id="sqlCall" class="form-control" rows="5" placeholder="java.package.class.method({json args})"></textarea>
			</div>
			<div class="form-group">
				<button class="btn btn-default bundle" id="genSqlBtn">Retrieve</button>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="form col-sm-12">
			<div class="form-group">
				<h2>Result</h2>
				<pre class="language-sql" id="sqlResult" style="min-height:100px;"></pre>
			</div>
		</div>
	</div>
</div>
<script type="text/javascript">
portal.support.sqlSupportP = portal.support.sqlSupportP || function() {
	var _jqe = $("#__tx_support__");
	var _reqId2 = App.AttrSet.getCodeSet({id:"systems", lang:App.getLang()},
		function(result_) {
			if (result_.reqId != _reqId2)
				return;
			_sysCs = App.AttrSet.createHelper(result_.data[0]);
			App.Utils.fillSelect(_jqe.find('#sysSB'), result_.data[0], {showEmpty:false});
			_jqe.find('#sysSB').append('<option value="oth">Other</option>').change(function(){
				$(this).val() == 'oth' ?
					_jqe.find('#otherGroup').show() :
					_jqe.find('#otherGroup').hide().val('');
			}).change();
		});

	_jqe.find("#genSqlBtn").click(function() {
		var sqlCall = _jqe.find("#sqlCall").val();
		var sys = _jqe.find('#sysSB').val();
		if (sys == 'oth')
			sys = _jqe.find('#otherSys').val();
		
		_jqe.find("#sqlResult").empty();
		portal.support.generateSqlQuery(sys, sqlCall, function(result_) {
			if (result_ && !result_.hasError && result_.data && result_.data[0]) {
				_jqe.find("#sqlResult").html(result_.data[0]);
			}
		});
		return false;
	});
}();

//# sourceURL=portal.support.html
</script>
